# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
cfgt


*.class
*.iml
*.ipr
*.iws
*.lock_message
*.pyc
*.hprof
*.swp
*.sublime-project
*.sublime-workspace
*~
*#
.#*
.DS_Store
.build.properties
.buildcache/
.coverage*
.idea
.cache
.pants.d
.pants.run
.pants.workdir.file_lock
.pants.stats
.pantsd.startup
.pids
.project
.settings
.classpath
.factorypath
.python
.pydevproject
build/
codegen/classes/
htmlcov/
out/
/dist/
/lib/
arc.sh
target
GPATH
GRTAGS
GSYMS
GTAGS
